In [9]:
# note : librarry ini hanya digunakan untuk tampilan output
import json

In [2]:
# Link : https://colab.research.google.com/drive/1XDK4KzpjyNjoe11wUcaN015iPvJT-_OR?usp=sharing
# Data

company_detail_list = [
      {
          'name': 'Company 1',
          'domain': 'Retail',
          'country': 'United States'
      },
      {
          'name': 'Company 2',
          'domain': 'Technology',
          'country': 'United Kingdom'
      },
      {
          'name': 'Company 3',
          'domain': 'Healthcare',
          'country': 'United States'
      }
  ]

employee_detail_list = [
     {
          'name': 'EMP-0001',
          'first_name': 'John',
          'last_name': 'Doe',
          'full_name': 'John Doe',
          'company': 'Company 1',
          'nationality': 'Australia'
      },
      {
          'name': 'EMP-0002',
          'first_name': 'Tom',
          'last_name': 'Smith',
          'full_name': 'Tom Smith',
          'company': 'Company 2',
          'nationality': 'United States'
      },
      {
          'name': 'EMP-0003',
          'first_name': 'Andrew',
          'last_name': 'Sebastian',
          'full_name': 'Andrew Sebastian',
          'company': 'Company 3',
          'nationality': 'United States'
      },
      {
          'name': 'EMP-0005',
          'first_name': 'Ying Han',
          'last_name': 'Tan',
          'full_name': 'Ying Han Tan',
          'company': 'Company 1',
          'nationality': 'Australia'
      },
      {
          'name': 'EMP-0015',
          'first_name': 'Kenneth',
          'last_name': 'Ng',
          'full_name': 'Kenneth Ng',
          'company': 'Company 3',
          'nationality': 'United States'
      },
      {
          'name': 'EMP-0018',
          'first_name': 'Rubby',
          'last_name': 'Lee',
          'full_name': 'Rubby Lee',
          'company': 'Company 2',
          'nationality': 'Hong Kong'
      },
     {
          'name': 'EMP-0017',
          'first_name': 'Robert',
          'last_name': 'White',
          'full_name': 'Robert White',
          'company': 'Company 1',
          'nationality': 'United Kingdom'
      }
  ]

In [3]:
# Jawaban Task 1: Mengambil daftar semua perusahaan dan mengurutkannya berdasarkan nama perusahaan dalam urutan terbalik
sorted_companies = sorted([{'name': company['name']} for company in company_detail_list], key=lambda x: x['name'], reverse=True)
print("Najwan Hidayatullah\nTask 1:\n", json.dumps(sorted_companies, indent=5))

Najwan Hidayatullah
Task 1:
 [
     {
          "name": "Company 3"
     },
     {
          "name": "Company 2"
     },
     {
          "name": "Company 1"
     }
]

In [4]:
# Jawaban Task 2: Mencetak semua nilai Domain di setiap perusahaan
print("221011402857\nTask 2:")
for company in company_detail_list:
    print(f"{company['name']}: {company['domain']} ({company['country']})")

221011402857
Task 2:
Company 1: Retail (United States)
Company 2: Technology (United Kingdom)
Company 3: Healthcare (United States)

In [5]:
# Jawaban Task 3: Mengelompokkan semua karyawan berdasarkan domain perusahaan
employees_by_domain = {}
domain_map = {company['name']: company['domain'] for company in company_detail_list}

for employee in employee_detail_list:
    domain = domain_map[employee['company']]
    if domain not in employees_by_domain:
        employees_by_domain[domain] = []
    employees_by_domain[domain].append(employee['full_name'])

print("05TPLE018\nTask 3:\n", json.dumps(employees_by_domain, indent=5))

05TPLE018
Task 3:
 {
     "Retail": [
          "John Doe",
          "Ying Han Tan",
          "Robert White"
     ],
     "Technology": [
          "Tom Smith",
          "Rubby Lee"
     ],
     "Healthcare": [
          "Andrew Sebastian",
          "Kenneth Ng"
     ]
}

In [6]:
# Jawaban Task 4: Mengembalikan karyawan dengan negara perusahaannya
employees_with_country = []
for employee in employee_detail_list:
    company_country = next(company['country'] for company in company_detail_list if company['name'] == employee['company'])
    employees_with_country.append({
        "full_name": employee['full_name'],
        "company": employee['company'],
        "country": company_country
    })

print("UTS Kecerdasan Buatan\nTask 4:\n", json.dumps(employees_with_country, indent=5))

UTS Kecerdasan Buatan
Task 4:
 [
     {
          "full_name": "John Doe",
          "company": "Company 1",
          "country": "United States"
     },
     {
          "full_name": "Tom Smith",
          "company": "Company 2",
          "country": "United Kingdom"
     },
     {
          "full_name": "Andrew Sebastian",
          "company": "Company 3",
          "country": "United States"
     },
     {
          "full_name": "Ying Han Tan",
          "company": "Company 1",
          "country": "United States"
     },
     {
          "full_name": "Kenneth Ng",
          "company": "Company 3",
          "country": "United States"
     },
     {
          "full_name": "Rubby Lee",
          "company": "Company 2",
          "country": "United Kingdom"
     },
     {
          "full_name": "Robert White",
          "company": "Company 1",
          "country": "United States"
     }
]

In [7]:
# Jawaban Task 5: Mengembalikan perusahaan dengan jumlah kewarganegaraan karyawan yang bekerja di perusahaan tersebut
companies_with_nationality = []
for company in company_detail_list:
    nationality_count = {}
    for employee in employee_detail_list:
        if employee['company'] == company['name']:
            nationality = employee['nationality']
            if nationality in nationality_count:
                nationality_count[nationality] += 1
            else:
                nationality_count[nationality] = 1
    companies_with_nationality.append({
        "company": company['name'],
        "employee_nationality": nationality_count
    })

print("Dosen: Agung Perdananto\nTask 5:\n", json.dumps(companies_with_nationality, indent=5))

Dosen: Agung Perdananto
Task 5:
 [
     {
          "company": "Company 1",
          "employee_nationality": {
               "Australia": 2,
               "United Kingdom": 1
          }
     },
     {
          "company": "Company 2",
          "employee_nationality": {
               "United States": 1,
               "Hong Kong": 1
          }
     },
     {
          "company": "Company 3",
          "employee_nationality": {
               "United States": 2
          }
     }
]